<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid">
    <!--Title and logout btn-->
    <div class="row">
        <div class="col-md-9 text-left bg-dark">
            <h5 class="list-inline">
                <i th:text="${admin.toString()}" style="color: white">Val</i>
            </h5>
        </div>
        <div class="col-md-3 text-right bg-dark">
            <a href="/logout" th:text="Logout" style="color: gainsboro">logout</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div id="list-model" class="list-group">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="list-group-item list-group-item-action active"
                   href="#admin" data-toggle="pill">Admin</a>
                <a class="list-group-item list-group-item-action" href="#user" data-toggle="pill">User</a>
            </div>
        </div>
        <div class="col-md-10 bg-light">
            <div class="tab-content ">
                <div sec:authorize="hasRole('ROLE_ADMIN')" role="tabpanel" class="tab-pane active" data-target="pill"
                     id="admin">
                    <div class="container">
                        <h1> Admin panel</h1>
                        <ul class="nav nav-pills" role="tablist">
                            <li class="active nav-item scr">
                                <a class="nav-link active" href="#userTable" role="tab" data-toggle="pill">User
                                    table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#newUser" role="tab" data-toggle="pill">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="userTable">
                                <h4>All users</h4>
                                <table class="table table-hover table-bordered table-condensed bg-white">
                                    <tread>
                                        <tr>
                                            <th>id</th>
                                            <th>Username</th>
                                            <th>Age</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tread>
                                    <tbody id="tableData">
                                    </tbody>
                                </table>
                            </div>


                            <!-- Form for edit action with users.-->
                            <div class="modal fade"
                                 tabindex="-1"
                                 id="editModal"
                                 role="dialog" aria-labelledby="editModalTitle"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form>
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalTitle">Edit user</h5>
                                                <button type="button" class="close"
                                                        data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group text-center">
                                                    <label for="editID">ID</label>
                                                    <input type="text"
                                                           id="editID"
                                                           class="form-control"
                                                           readonly
                                                    />
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="editUsername">Username</label>
                                                    <input type="text"
                                                           id="editUsername"
                                                           class="form-control"
                                                    />
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="editPassword">Password</label>
                                                    <input type="text"
                                                           id="editPassword"
                                                           class="form-control"
                                                    />
                                                </div>

                                                <div class="form-group text-center">
                                                    <label for="editAge">Age</label>
                                                    <input type="text"
                                                           id="editAge"
                                                           class="form-control"
                                                    />
                                                </div>

                                                <div class="form-group" id="editCheckbox">

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button type="button" class="btn btn-warning" onclick="editUser()">
                                                    Edit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Form for delete action with users.-->
                            <div class="modal fade"
                                 tabindex="-1"
                                 id="deleteModal"
                                 role="dialog" aria-labelledby="deleteModalTitle"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form>
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalTitle">Delete user</h5>
                                                <button type="button" class="close"
                                                        data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group text-center">
                                                    <label for="editID">ID</label>
                                                    <input type="text"
                                                           id="deleteID"
                                                           class="form-control"
                                                           readonly
                                                    />
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="deleteUsername">Username</label>
                                                    <input type="text"
                                                           id="deleteUsername"
                                                           class="form-control"
                                                           readonly
                                                    />
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="deletePassword">Password</label>
                                                    <input type="text"
                                                           id="deletePassword"
                                                           class="form-control"
                                                           readonly
                                                    />
                                                </div>

                                                <div class="form-group text-center">
                                                    <label for="deleteAge">Age</label>
                                                    <input type="text"
                                                           id="deleteAge"
                                                           class="form-control"
                                                           readonly
                                                    />
                                                </div>

                                                <div class="form-group" id="deleteCheckbox">

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button type="button" class="btn btn-warning" onclick="deleteUser()">
                                                    Delete
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!--TAB NEW USER PANEL--->
                            <div role="tabpanel"
                                 class="tab-pane "
                                 id="newUser">

                                <div class="tab-pane text-center bg-white" role="document">
                                    <form>
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addModalTitle">Add new user</h5>
                                            <button type="button" class="close"
                                                    data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group text-center">
                                                <label for="addUsername">Username</label>
                                                <input type="text"
                                                       id="addUsername"
                                                       class="form-control"
                                                       placeholder="Enter username"/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="addAge">Age</label>
                                                <input type="text"
                                                       id="addAge"
                                                       class="form-control"
                                                       placeholder="Enter Age"/>
                                            </div>

                                            <div class="form-group text-center">
                                                <label for="addPassword">Password</label>
                                                <input type="text"
                                                       id="addPassword"
                                                       class="form-control"
                                                       placeholder="Enter password"/>
                                            </div>

                                            <div class="form-group" id="addCheckbox">
                                                <input type="checkbox">

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button type="button" class="btn btn-primary" onclick="addUser()">
                                                Add new
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TAB  PANEL with role Users --->
                <div   role="tabpanel" class="tab-pane active"  id="user">
                    <div class="container" >
                        <h1> User information page</h1>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">UserName</th>
                                <th scope="col">Age</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${admin.getId()}">value</td>
                                <td th:text="${admin.getUsername()}">value</td>
                                <td th:text="${admin.getAge()}">value</td>
                                <td th:text="${admin.toStringRole()}">value</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="js/fetch.js"></script>
</body>
</html>
