<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http:\\thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>All Users</title>-->

<!--</head>-->
<!--<body>-->

<!--<table border="3">-->
<!--    <tr>-->
<!--        <th bgcolor="#add8e6" style="color: darkred">Users</th>-->
<!--    </tr>-->
<!--    <tr th:each="user : ${users}">-->
<!--        <th>-->
<!--            <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getName()}"></a>-->
<!--        </th>-->
<!--        <th>-->
<!--            &lt;!&ndash;            <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">&ndash;&gt;-->
<!--            &lt;!&ndash;                <input type="submit" value="Edit"/>&ndash;&gt;-->
<!--            &lt;!&ndash;            </form>&ndash;&gt;-->
<!--            <form th:method="POST" th:action="@{/admin/edit(id=${user.getId()})}">-->
<!--                <input type="submit" value="Edit"/>-->
<!--            </form>-->
<!--        </th>-->
<!--        <th>-->
<!--            <form th:method="POST" th:action="@{/admin/delete(id=${user.getId()})}">-->
<!--                <input type="submit" value="Delete"/>-->
<!--            </form>-->
<!--        </th>-->
<!--    </tr>-->

<!--</table>-->
<!--<br>-->
<!--<form th:method="GET" th:action="@{/admin/new}">-->
<!--    <input type="submit" value="Add new User"/>-->
<!--</form>-->
<!--<br>-->
<!--<form th:action="@{/logout}" method="POST">-->
<!--    <input type="submit" value="Logout"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
</head>
<body>

<div th:align="justify">
    <a href="/admin/newUser">Create new user</a>
    <br/>
    <a href="/login">Sign Out</a>
    <br/>
    <hr/>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Edit user</th>
            <th>Delete user</th>
        </tr>
        <th:block th:each="u : ${users}">
            <tr>
                <td th:text="${u.id}"></td>
                <td th:text="${u.name}"></td>
                <td th:text="${u.surname}"></td>
                <td th:text="${u.profession}"></td>
                <!--                вывелись роли после переопределения метода ту стринг в классе Role-->
                <td><a th:href="@{/admin/{id}/getUserById(id=${u.id})}">Edit</a></td>
                <td><a th:href="@{/admin/{id}/getUserById(id=${u.id})}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</div>
<!--<br/>-->
<!--пустая строка-->
<!--<hr/>-->
<!--линия отделяющая список от кнопки-->
</body>
</html>